<div id="divShowBenefit">
    <style type="text/css">
        .sticky {
            margin: 0;
            background: #245;
            font-family: 'Lato',Calibri, Arial, sans-serif;
            color: #333;
            font-size: 22px;
            -webkit-font-smoothing: antialiased;
        }

        .ul {
            margin: 0;
            padding: 0;
        }

        .li {
            min-width: 120px;
            float: left;
            position: relative;
            width: 18%;
            background: lightyellow;
            margin: 10px 1.5% 0 1.5%;
            padding: 2%;
            list-style-type: none;
            white-space: pre-wrap;
            word-wrap: break-word;
            white-space: normal;
            transition: all 200ms ease-in-out;
        }

            .li:before {
                position: absolute;
                top: 0;
                right: 0;
                content: '';
                background: #245;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #e59866;
            }
    </style>
    <script type="text/javascript">
      
        </script>
    <div id="divSticky">

        <ul class="nav" contenteditable="true">

        <li class="nav-header"></li>

            <li class="li sticky">Add Text Here...</li>
            <li class="li sticky">Add Text Here...</li>
            <li class="li sticky">Add Text Here...</li>


        </ul>
    </div>
</div>